@charset "utf-8";

body {
	margin-top: 10px;
	background-image: url(../images/background2.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

body h1 {
	font-family: bebas-neue;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	color: #000000;
	font-size: 7em;
	text-decoration: none;
	text-shadow: 30px 30px 12px #838282;
	text-indent: -10px;
	text-transform: capitalize;
}

body p1 {
	display: block;
	font-family: corbel;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	color: #FFFFFF;
	font-size: 20;
}

body img {
	display: block;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.topnav {
	background-color: #32b44a;
	overflow: hidden;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family: corbel;
	font-style: normal;
	font-weight: 400;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	text-align: center;
}

.topnav a:hover {
	background: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #1c842f;
	color: white;
}
