@charset "utf-8";

body {
	margin-left: 10px;
	margin-top: 10px;
	background-image: url(../images/background2.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

body h1 {
	font-family: bebas-neue;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	color: #000000;
	font-size: 7em;
	text-decoration: none;
	text-shadow: 30px 30px 12px #838282;
	text-indent: -10px;
	text-transform: capitalize;
}

body h2 {
	text-align: center;
}

p1 {
	margin-left: auto;
	margin-right: auto;
	width: 8em;
	text-align: center;
	color: #FFFFFF;
	font-size: 12;
	font-family: marmelad;
}

#inner {
	margin: 0 auto;
}

.topnav {
	background-color: #011328;
	overflow: hidden;
	margin-left: 250px;
	margin-right: 250px;
	font-family: marmelad;
	font-style: normal;
	font-weight: 400;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	text-align: center;
}

.topnav a:hover {
	background: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #93310B;
	color: white;
}
